swagger: "2.0"

info:
  version: "0.1.0"
  title: ClearlyDefined API
  description: The REST API for clearlydefined.io

schemes:
  - https
host: clearlydefined.io
basePath: /

paths: 
  /curations/{type}/{provider}/{namespace}/{name}/{revision}/pr/{number}:
    get:
      summary: Get the curations for a given component identified in the request URL.
      description: Returns the curations for all the component indicated by the request.
      parameters:
        - name: type
          in: path
          required: true
          description: the type of the component you are looking for. For exammple, npm, git, nuget, maven, ... This talks about the *shape* of the component.
          type: string
        - name: provider
          in: path
          required: true
          description: where the component can be found. Examples include npmjs, maven-central, github, nuget, ...
          type: string
        - name: namespace
          in: path
          required: true
          description: many component systems have namespaces. GitHub orgs, NPM namespace, Maven group id, ... This segment must be supplied. If your component does not have a namespace, use '-' (ASCII hyphen).
          type: string
        - name: name
          in: path
          required: true
          description: the name of the component you want. Given the `namespace` segment mentioned above, this is just the simple name.
          type: string
        - name: revision
          in: path
          required: true
          description: components typically have some differentiator like a version or commit id. Use that here. If this segment is omitted, the latest revision is used (if that makes sense for the provider).
          type: string
        - name: number
          in: path
          required: true
          description: the GitHub PR number to apply to the existing harvested and curated data. Note that that this parameter must be preceded by a 'pr' segment.
          type: number
      responses:
        200:
          description: One document describing all known curations for the indicated component.
          schema:
            type: object

    patch:
  harvest:
    get:
  packages:
    get:
