name: Run Docker build and tests

on:
  workflow_dispatch:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master
      - prod

permissions:
  contents: read
  packages: read

jobs:
  test:
    name: Run tests
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v6.0.1

      - uses: actions/setup-node@v6
        with:
          node-version: 24
          cache: 'npm'
          registry-url: 'https://npm.pkg.github.com'
          scope: '@clearlydefined'

      - name: Configure npm credentials
        run: |
          echo "//npm.pkg.github.com/:_authToken=${{ github.token }}" >> .npmrc
          echo "@clearlydefined:registry=https://npm.pkg.github.com" >> .npmrc

      - name: Install dependencies
        run: npm ci

      - name: Run tests
        run: npm test

  docker-build:
    name: Build Docker image
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6.0.1

      - name: Configure Docker build credentials
        run: |
          echo "//npm.pkg.github.com/:_authToken=${{ github.token }}" >> .npmrc
          echo "@clearlydefined:registry=https://npm.pkg.github.com" >> .npmrc

      - name: Docker build
        run: docker build .
